@import "tailwindcss";

:root {
  --color-primary: #6366f1;
  --color-danger: #ef4444;
  --color-success: #22c55e;
  --color-warning: #f59e0b;
  --color-bg-dark: #0f172a;
  --color-bg-card: #1e293b;
  --color-text: #f8fafc;
  --color-text-muted: #94a3b8;
}

body {
  background-color: var(--color-bg-dark);
  color: var(--color-text);
  font-family: 'Inter', system-ui, sans-serif;
}

::-webkit-scrollbar-track {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-bg-dark);
}

::-webkit-scrollbar-thumb {
  background: var(--color-bg-card);
  border-radius: 4px;
}